---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GithubIcon from '../icons/Github.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../components/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import MaletaIcon from '../icons/MaletaIcon.astro';
import CodeIcon from '../components/CodeIcon.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de Lucas Caro - Desarrollador y Programador Web" 
		description="Contrata a Lucas Caro para crear tu aplicacion web. Desarrollador Web. Especializado en crear aplicaciones adaptadas a tu negocio.">
	<main class="px-4">
		
		<SectionContainer id="sobre-mi" class="py-44 pb-20">
			<img class="rounded-full w-24 h-24 mb-4" 
			src="../public/imgs/imagenPerfil.jpg" alt="Lucas Caro photo">
			<h1 class="text-white text-2xl lg:text-5xl font-bold flex flex-row  
			gap-x-4 pb-6 lg:pb-10">
			Hey, soy Lucas Caro <a 
			href="https://www.linkedin.com/in/lucas-nahuel-caro/"
			target="_blank"
			rel="noopener"
			class="flex justify-center items-center">
			<Badge>Disponible para trabajar</Badge>
		 </a>
			 
		</h1>
		<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
			<span>Desarrollador Web Junior con 1 año de experiencia.</span>
			<span class="text-red-200/90"> He desarrollado aplicaciones web a medida para pymes y pequeñas empresas.</span>
			<span class="opacity-85"> Soy de Misiones, Argentina.</span>
		</h2>

		<nav class="flex gap-4 mt-8 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/lucas-nahuel-caro/">
				<LinkedInIcon class="size-4 md:size-6"/>
				LinkedIn
			</SocialPill>
			<SocialPill href="https://github.com/LucasCaro97/">
				<GithubIcon class="size-4 md:size-6"/>
				GitHub
			</SocialPill>
			<SocialPill href="mailto:lucascaro97@gmail.com">
				<MailIcon class="size-4 md:size-6"/>
				lucascaro97@gmail.com
			</SocialPill>
		</nav>
		</SectionContainer>
		
		<SectionContainer id="experiencia">
			<h2 class="text-4xl  font-semibold mb-6 flex gap-x-3 items-center">
				<MaletaIcon class="size-8"/>
				Experiencia Laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-4xl  font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-8"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>

	</main>
</Layout>

