---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "nov. 2023 - Actualidad...",
    title: "Desarrollador Web Freelance - BzMakeUp",
    description:
      "Desarrollo de e-commerce autogestionable web para la venta de productos cosmeticos.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "abr. 2023 - nov. 2023",
    title: "Analista en Sistemas - Grupo Pinhero",
    description:
      `En esta experiencia me encontre desarrollando una aplicacion web para la gestion financiera de una empresa del sector inmobiliario. Tambien he realizado soporte IT y
      mantenimiento de hardware`,
  },
  {
    date: "nov. 2022 - may. 2023",
    title: "Desarrollador Web Freelance - Fibrolaser",
    description:
      `Desarrollo de aplicacion web para la recepcion y gestion de pedidos realizados por los clientes`,
  },
  {
    date: "mar. 2019 - jul. 2021",
    title: "Practicas de Programacion - SiaNetwork",
    description:
      `En este periodo de practicas me encontraba terminando mi carrera de analista en sistemas, donde he realizado practicas de programacion utilizando tecnologias
      como Scriptcase, PHP y MySql.`,
  },
]
---



<ol class="relative border-s border-gray-200 ml-3">
    {
      EXPERIENCIE.map((experiencie) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experiencie} />
        </li>
      ))
    }
  </ol>

