---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [

{
    date: "Ene. 2024 - Actualidad",
    title: "DigiMenu - Founder",
    description:
      `Fundador de DigiMenu, una startup para negocios de entrega de comida. Desarrollé una plataforma con Java, Spring Boot, MySQL y React.js. Incluye gestión de productos y carrito de compras para la solicitud de pedidos. Despliegue en la nube con Docker Compose. Integré CI/CD con GitHub Actions para automatización y escalabilidad.`,
  },
{
    date: "Ene. 2024 - Feb. 2024",
    title: "Hackathon - TodoCode Academy",
    description:
      `Participé en una práctica intensiva desarrollando un sistema de gestión médica con microservicios en Java y Spring Boot. Implementé autenticación con OAuth2 y Keycloak, Spring Cloud Balancer y Circuit Breaker. Desplegué el sistema en la nube con Docker Compose, utilizando API Gateway y Eureka Server para la comunicación entre servicios.`,
  },
{
    date: "Dic. 2023 - Dic. 2024",
    title: "Implementacion de software en negocio familiar",
    description:
      `Desarrollé e implementé un sistema monolítico para gestionar pedidos, optimizando procesos. Integré usuarios con roles, seguimiento en tiempo real y un servidor FTP para producción. Desplegué la aplicación en la nube con Docker, mejorando escalabilidad y eficiencia operativa.`,
  },
    {
    date: "Abr. 2023 - Nov. 2023",
    title: "Full Stack Developer - Grupo Pinhero",
    description:
      `Lider de proyecto y programador. Realize evaluacion del software utilizado en la empresa. Desarrolle una nueva aplicacion monolitica adaptada a las necesidades del negocio utilizando Java, Spring Boot, MySQL y una architectura MVC.
      Se implemento la generacion de reportes utilizando JasperReports y Apache POI para exportar datos a hojas de calculo.`,
  },
  {
    date: "Mar. 2019 - Jul. 2021",
    title: "PHP Developer Trainee - SiaNetwork",
    description:
      `Desarrollo de aplicaciones web para optimizar procesos en aserraderos y obras sociales en Misiones. Utilizacion de Scriptcase como plataforma de desarrollo rapido. Administracion mantenimiento y soporte de bases de datos MySQQL con phpmyadmin`,
  },
]
---



<ol class="relative border-s border-gray-200 ml-3">
    {
      EXPERIENCIE.map((experiencie) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experiencie} />
        </li>
      ))
    }
  </ol>

