<header class={`
    flex justify-center items-center
    mx-auto
    py-5
    top-0
    w-full xl:w-[1120px]
    z-10
  `}>

    <nav class="flex flex-row gap-x-3 text-sm opacity-80 sm:gap-x-10 sm:text-lg">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre Mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>